# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*.suo

#Resharper
_ReSharper.F500Tool

#NuGet
packages/NLog.2.0.0.2000
/.nuget/NuGet.exe
/Release/F500Tool/F500Tool.exe
/Release/F500Tool/F500Tool.exe.config

/Release/F500Tool/*.pdb
