<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File"
              fileName="${basedir}\ETurnService.log"
              layout="${longdate}|${level}|${message}|${onexception:${exception:format=stacktrace:maxInnerExceptionLevel=10:innerFormat=message}}"
              archiveAboveSize="10000000"/>
      <target name="control" xsi:type="FormControl" append="true"
              layout="${level}|${message}${newline}"
              controlName="LogTextBox" formName="MainForm"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="control" />
    </rules>
  </nlog>
</configuration>